<p id="notice"><%= notice %></p>

<h1>Instacs</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= image_tag blog.image.thumb %></td>
        <td><%= blog.content %></td>
        <td class="btn btn-primary"><%= link_to 'Show', blog %></td>
        <% if blog.user == current_user %>
          <td class="btn btn-success"><%= link_to 'Edit', edit_blog_path(blog) %></td>
          <td class="btn btn-warning"><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instac', new_blog_path, class:"btn btn-default" %>
