<!DOCTYPE html>
<html>
  <head>
    <title>Instac</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <header>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
                <span class="sr-only">Instac
                </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Instac</a>
            </div>
            <div id="gnavi" class="collapse navbar-collapse">
              <ul class="nav navbar-nav row">
                <li class="col-xs-2"><%= link_to blogs_path do %>
                  <p>一覧</p>
                  <%= mi.view_module %>
                <% end %>
              </li>
              <li class="col-xs-2"><%= link_to new_blog_path do %>
                <p>新規投稿</p>
                <%= mi.comment %>
              <% end %>
            </li>
            <li class="col-xs-2"><%= link_to favorites_path do %>
              <p>favorites</p>
              <%= mi.favorite %>
            <% end %>
          </li>
            <% if logged_in? %>
              <li class="col-xs-3"><%= link_to user_path(current_user.id) do %>
                <p>プロフィール</p>
                <%= mi.account_circle %>
              <% end %>
            </li>
            <li class="col-xs-3"><%= link_to session_path(current_user.id),method: :DELETE do %>
              <p>ログアウト</p>
              <%= mi.assignment_return %>
            <% end %>
          </li>
          <!-- <%= link_to "profile", user_path(current_user.id) %> <%= link_to "logout", session_path(current_user.id),method: :DELETE %> -->

        <% else %>
          <li class="col-xs-3"><%= link_to new_user_path do %>
            <p>サインアップ</p>
            <%= mi.create %>
          <% end %>
        </li>
        <li class="col-xs-3"><%= link_to new_session_path do %>
          <p>ログイン</p>
          <%= mi.input %>
        <% end %>
      </li>
      <!-- <%= link_to "sign up", new_user_path %> <%= link_to "login", new_session_path %> -->
    <% end %>
  </ul>

</div>
</div>
</nav>

</header>
<section class="main-header"></section>
<section class="about">
<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>">
<%= value %>
</div>
<% end %>
<h1>
Welcome! This is Instac app!
</h1>
</section>
<%= yield %>
<footer class="footer">
<div class="row">
<p class="text-muted col-xs-12">instac 2018koheikobayashi</p>
</div>
</footer>
</div>
</body>
</html>
